# Database configuration
# For local PostgreSQL/MySQL
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=car_sharing

# For Cloud PostgreSQL (Neon/Render) - Use the connection string provided by the platform
# Example: postgres://user:pass@host/dbname
DATABASE_URL=

# Security
SECRET_KEY=your-secret-key-for-jwt-token-generation

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=pankiv.roma@gmail.com
SMTP_PASS=ynku hrfu hzui egcm
FRONTEND_URL=http://localhost:3000
