# Database configuration
# Use the connection string provided by the platform (PostgreSQL)
# For local development, e.g., postgresql://postgres:postgres@localhost:5432/car_sharing
DATABASE_URL=postgresql://neondb_owner:npg_Do4M2nuFXrhx@ep-lucky-star-al5bk8tj.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# Security
SECRET_KEY=your-secret-key-for-jwt-token-generation

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=pankiv.roma@gmail.com
SMTP_PASS=ynku hrfu hzui egcm
FRONTEND_URL=http://localhost:3000
